_markdown_fi-pdflatex
fi-pdflatex.toc
fi-pdflatex.lof
fi-pdflatex.lot
fi-pdflatex.log
fi-pdflatex.aux
fi-pdflatex.bbl
fi-pdflatex.bcf
fi-pdflatex.idx
fi-pdflatex.ilg
fi-pdflatex.ind
fi-pdflatex.out
fi-pdflatex.run.xml
fi-pdflatex.fdb_latexmk
fi-pdflatex.fls
fi-pdflatex.luabridge.lua
fi-pdflatex.synctex.gz

.DS_Store